
.img-thumb {
	width: auto;
	height: 200px;

}

#footers {
	margin-top: 50px;
}

img.details {
		width: 33%;
		margin: 15px auto;
}


.car_img	{
	width: 100%;

}

.carousel-control-prev {
	margin-top: 70px;
}
body {
overflow-x: hidden;
overflow-y: scroll;


}